.table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table {
    margin: auto;
    width: 95%;

}

.table th,
.table td {
    padding: 10px 30px;
    text-align: center;
}

.btn-div {
    margin: 10px 0px 10px 35px;
}

.sort-btn {
    padding: 8px 40px;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    background: linear-gradient(20deg, #3cff00, #00ffea);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    /* text-shadow: 1px 1px 1px #ffff00; */
}

.sort-btn:hover {
    background: linear-gradient(40deg, #2f28fff3, #e100ffe1, green, pink, red);
    color: rgb(255, 255, 255);
}

.search-form {
    display: inline;
}

#search {
    padding: 7px;
    padding-left: 15px;
    margin-left: 339px;
    width: 300px;
    border-radius: 20px;
}

input::placeholder {
    color: #4f4949;
}

#search-btn {
    outline: 0;
    width: 33px;
    height: 33px;
    font-size: 13px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
}

#search-btn:hover {
    background-color: rgb(26, 27, 27);
    color: aliceblue;
}

#reset-btn {
    padding: 4px 20px;
    cursor: pointer;
    margin: 10px;
    background-color: rgba(243, 35, 246, 0.956);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
}

#reset-btn:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.detailBtn {
    background-color: rgb(59, 54, 51);
    /* border: none; */
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

.detailBtn:hover {
    background-color: rgb(255, 247, 0);
    color: black;
}

.statisticsBtnDiv {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.statisticsBtn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(90deg, #ffb700f5, #fbff00);
    cursor: pointer;
    margin: auto;
    color: rgb(0, 0, 0);
}

.statisticsBtn:hover {
    background: linear-gradient(180deg, #fbff00, #ffb700e1);
    color: #000000;
}

.headRow {
    background-color: rgb(255, 221, 0);
}

.active {
    background-color: rgb(29, 255, 112);
    text-transform: uppercase;
}